*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#coffee{
    width: 100%;
    background-image: url(/assets/img/home-1-slider-image-3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        z-index: 1;
       .droppp{
            background-color: $text-color;
            :hover{
                color: $text-color;
            }
        }
      
        nav{
            width: 90%;
            margin: auto;
            .navbttn{
                background-color: $main-color;
            }

            .collapseDiv{
                justify-content: flex-end;
                ul{
                    display: flex;
                    gap: 25px;
                    li{
                        a{
                            color:$main-color ;
                        }
                    }
                }
            }
        }
    }

    .coffeemcontainer{
        display: flex;       
        padding-bottom: 25px;
       .row{
        .coffeemtxt{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 25px;
            margin-left: 25px;
            
           h1{
            color: $main-color;
            font-size: 50px;
            font-weight: 500;
            margin-left: 25px;
           }
           span{
           
            font-size: 20px;
            text-align: center;
            color:$main-color;
           }
           .shop{
            width: 220px;
            border: none;
            border: 1px solid white;
            height: 60px;
            background-color: transparent;
            color: $main-color;
            &:hover{
                background-color: burlywood;
                border: none;
                transition: 1s;
            }
           }
           }
       }
    }
}

#delicious{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: auto;
    margin-top: 25px;
    .deliciouscontainer{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
       margin-bottom: 25px;
       img{
        padding-bottom: 20px;
       }
       p{
        padding-bottom: 20px;
       }
        .row{
            padding-top: 25px;
            padding-bottom: 25px;
           margin-bottom: 25px;
           span{
            color: grey;
           }
        
            .delicioustxt{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center; 
                gap: 20px;
                margin-bottom: 25px;
                padding-top: 25px;
                padding-bottom: 25px;
               
                span{
                  
                    font-size: 20px;
                    text-align: center;
                
                   }
                h1{
                    font-size: 50px;
                    color: #262626;
                    font-weight: 400;
                }
            }
        
           
        }
    }
}


#coffeeherald{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/new-new-h1-bacground-img-3.jpg);
    background-size: cover;
    margin: auto;
    height: auto;
    padding-top: 25px;
    
    .coffeeheraldcontainer{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        
        .row{
            padding-top: 25px;
            padding-bottom: 25px;
           margin-bottom: 25px;
           h5{
            padding-top: 25px;
           }
           span{
           
            font-size: 17px;
        }
        p{
            padding-top: 10px;
            font-size: 17px;
            color: grey;
           
        }
            .heraldtxt{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center; 
                padding-top: 25px;
                padding-bottom: 25px;
               margin-bottom: 25px;
               span{
                font-size: 20px;
                padding-top: 20px;
                color: grey;
               }
                img{
                    width: 200px;
                    height: 30px;
                }
            }

            img{
                width: 300px;
                height: 250px;
                cursor: pointer;
            }
            .read{
                border: none;
                background-color: transparent;
                font-size: 14px;
                &:hover{
                    color: #9a826c;
                }
            }
        }
    }
}
#coffeeestd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/h1-bacground-img-2.jpg);
    background-size: cover;
    height: auto;
    padding: 25px;
.estdcontainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    .row{
        padding-top: 25px;
        padding-bottom: 25px;

} 
}
}


#testing{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: auto;
    padding-top: 25px;
    text-align: center;
    img{
        width: 100%;
        height: 400px;
    }
    .testingcontainer{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
      
        .row{
            padding-top: 25px;
            padding-bottom: 25px;
           margin-bottom: 25px;
           margin-top: 25px;
            h1{
                font-size: 60px;
                font-weight: 400;
                color: #BE9C79;
                
            }
            span{
                padding-top: 20px;
                font-size: 17px;
                color: grey;
            }
            p{
               
                font-size: 25px;
            }
        }
    } 
}
#coffeeshop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/h1-bacground-img-1.jpg);
    background-size: cover;
    margin: auto;
    height: auto;
    text-align: center; 
    .coffeeshopcontainer{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px; 
        .row{
            padding-top: 25px;
            padding-bottom: 25px;
           margin-bottom: 25px;
           margin-top: 25px;
           p{
            font-size: 25px;
            padding-top: 20px;
           }
           span{
            color: grey;
            font-size: 18px;
           }
            .coffeeshoptxt{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center; 
                padding-top: 25px;
                padding-bottom: 25px;
               margin-bottom: 25px;
               gap: 15px;
               span{
                padding-top: 25px;
                font-size: 20px;
               }
                img{
                    width: 200px;
                    height: 30px;
                }  
            }
            img{
                width: 350px;
                height: 300px;
            }
        }
    }
}
#sweet{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: auto;
    .sweetcontainer{
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px; 
        .row{
            display: flex;
           
            padding-top: 25px;
            padding-bottom: 25px;
           margin-bottom: 25px;
           margin-top: 25px;
           .sweettxt{
            display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center; 
                padding-top: 25px;
                padding-bottom: 25px;
               margin-bottom: 25px;
               gap: 15px;
               span{
                font-size: 20px;
                color: gray;
               }
                img{
                    width: 200px;
                    height: 30px;
                } 
           }
           img{
            width: 300px;
            height: 290px;
            margin-bottom: 10px;
           }
        }
    }
}
#contact{
    background-image: url(/assets/img/p2-background-img-1.jpg);
    background-size: cover;
    width: 100%;
    height:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding-top: 25px;
    .contactcontainer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
        .row{
            .contactbtn{
                border: none;
                background-color: #BE9C79;
                color: $main-color;
                width: 170px;
                height: 50px;
                &:hover{
                    background-color: $text-color;
                }       
            }
        }
    }
}
#corretto{
    width: 100%;
    background-image: url(/assets/img/footer-top-img-1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    text-align: center;
    color: $main-color;
    .correttocontainer{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 25px;
            gap: 40px;
            font-weight: 300;
            img{
                width: 180px;
                height: 90px;
                margin-bottom: 20px;
            }
            p{
                margin: 0 auto;
                text-align: center; 
               
                font-size: 17px;
                max-width: 600px;
            }
            .correttom{
                margin: 0 auto;
                text-align: center; 
                width: 80%; 
                display: flex;
                width: 210px;
                border:1px solid white;
                margin-top: 20px;
                padding-left: 10px;
                height: 60px;
                
                div{
                    background-color: $main-color;
                    display: flex;
                    align-items: center;
                
                }

                input{
                    background-color: transparent;
                    color: white;                
                }
            }
        }
    }
}


#correttofooter{
    background-color: #121212;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    color: $main-color;
    text-align: center;
    .correttofootercontainer{
        display: flex;
        align-items: center;
        justify-content:space-between;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        i{
            display: flex;
            gap: 15px;
           }
           
        .row{
            display: flex;
            align-items: center;
            justify-content:space-between;
            padding-top: 25px;
            padding-bottom: 25px;
            
          
            p{
                
                text-align: center; 
                width: 100%; 
              
            }  
            ul{
                display: flex;
                list-style-type: none;
                gap: 20px;
                
               
            }
           
        }
    }
}